<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/styles/education.css">
</head>
<section class="education" id="education">
    <div class="container">
        <h2 class="section-title">Education</h2>
        <div class="education-content">
            <ul class="education-list">
                <li class="education-list-item">
                    <h1 class="education-institution">Auburn University</h1>
                    <h4>B.S. Biochemistry</h4>
                    <p>Went to Auburn for 4.5 years for Biochemistry, until I realized I hated it.
                    But I love Auburn. War Eagle!</p>
                </li>
                <li class="education-list-item">
                    <h1 class="education-institution">Western Governors University</h1>
                    <h4>B.S. Computer Science</h4>
                    <p>A few years later, after being in the workforce in something I didn't want to do,
                    I decided to make a change. I went to school for what I had fallen in love with.
                    Attained a Bachelor of Science, Computer Science from WGU. 
                    </p>
                </li>
                <li class="education-list-item">
                    <h1 class="education-institution">Western Governors University</h1>
                    <h4>M.S. Computer Science</h4>
                    <p>WGU also offered a Master's in Computer Science. I was still working and thought it couldn't hurt,
                    so I went for it. 
                    </p>
                </li>
            </ul>
        </div>
    <read-more-btn-t href="/static/education.html"></read-more-btn-t>
    </div>
</section>
<script src="/main.js"></script>
<script src="/src/read-more-btn.js"></script>
</html>
