<!DOCTYPE html>
<html>
<section class="education" id="education">
    <div class="container">
        <h2 class="section-title">Education</h2>
        <div class="education-content">
            <ul class="education-list">
                <li class="education-list-item"><h1>Auburn University</h1>
                    <p>Went to Auburn for 4.5 years for Biology, until I realized I hated biology.
                    But I love Auburn. War Eagle!</p>
                </li>
                <li class="education-list-item"><h1>Western Governors University</h1>
                    <p>A few years later, after being in the workforce in something I didn't want to do,
                    I decided to make a change. I went to school for what I had fallen in love with.
                    Attained a Bachelor of Science, Computer Science from WGU. 
                    </p>
                </li>
                <li class="education-list-item"><h1>Western Governors University</h1>
                    <p>WGU also offered a Master's in Computer Science. I was still working and thought it couldn't hurt,
                    so I went for it. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="container">
    </div>
</section>
</html>
