<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/education.css">
</head>
<section class="education" id="education">
    <div class="container">
        <h2 class="section-title">Education</h2>
        <div class="education-content">
            <ul class="education-list">
                <li class="education-list-item">
                    <h1 class="education-institution">Western Governors University</h1>
                    <h4>M.S. Computer Science</h4>
                </li>
                <li class="education-list-item">
                    <h1 class="education-institution">Western Governors University</h1>
                    <h4>B.S. Computer Science</h4>
                </li>
                <li class="education-list-item">
                    <h1 class="education-institution">Auburn University</h1>
                    <h4>99% of a B.S. Biochemistry</h4>
                </li>
            </ul>
        </div>
    </div>
</section>
<script src="/main.js"></script>
<script src="/src/read-more-btn.js"></script>

</html>