<!DOCTYPE html>
<html>
<nav class="navbar" id="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="#home">HAYDFREE.COM</a>
        </div>
        <ul class="nav-menu" id="nav-menu">
            <li class="nav-item">
                <a href="#home" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link">ABOUT</a>
            </li>
            <li class="nav-item">
                <a href="#skills" class="nav-link">SKILLS</a>
            </li>
            <li class="nav-item">
                <a href="#projects" class="nav-link">PROJECTS</a>
            </li>
            <li class="nav-item">
                <a href="#experience" class="nav-link">EXPERIENCE</a>
            </li>
            <li class="nav-item">
                <a href="#education" class="nav-link">EDUCATION</a>
            </li>
            <li class="nav-item">
                <a href="#blog" class="nav-link">BLOG</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link">CONTACT</a>
            </li>
        </ul>
        <div class="hamburger" id="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
</html>
