<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/styles/skills.css">
</head>
<section id="skills" class="skills">
    <div class="container">
        <h2 class="section-title">Skills & Technologies</h2>
        <div class="skills-grid">
            <div class="skill-category">
                <h3 class='skill-category-title'>Langs</h3>
                <div class="skill-items">
                    <span class="skill-item">C/C++</span>
                    <span class="skill-item">HTML/CSS/JavaScript</span>
                    <span class="skill-item">Java</span>
                    <span class="skill-item">PHP</span>
                    <span class="skill-item">Python</span>
                    <span class="skill-item">Rust</span>
                    <span class="skill-item">C#</span>
                    <span class="skill-item">Lua</span>
                    <span class="skill-item">x86_64 asm</span>
                    <span class="skill-item">VHDL/Verilog</span>
                    <span class="skill-item">SQL</span>
                    <span class="skill-item">Bash/Powershell</span>
                    <span class="skill-item">Make</span>
                </div>
            </div>
            <div class="skill-category">
                <h3 class='skill-category-title'>Frameworks/Libtards/Tools</h3>
                <div class="skill-items">
                    <span class="skill-item">Node / React / Express / jQuery</span>
                    <span class="skill-item">Burp Suite / Metasploit / Wireshark / pwntools</span>
                    <span class="skill-item">gdb / lldb / Ghidra / Valgrind / QEMU</span>
                    <span class="skill-item">Spring Boot</span>
                    <span class="skill-item">Pandas / Numpy / Flask / Django</span>
                    <span class="skill-item">PostgreSQL / SQLite / MongoDB</span>
                    <span class="skill-item">nmap / ltrace / strace</span>
                    <span class="skill-item">git / docker / GitHub Actions / AWS</span>
                </div>
            </div>
            <div class="skill-category">
                <h3 class='skill-category-title'>Other/Misc</h3>
                <div class="skill-items">
                    <span class="skill-item">LPI: Linux Essentials</span>
                    <span class="skill-item">ITIL Foundation 4</span>
                    <span class="skill-item">TS/SCI w/ CI Poly (in progress)</span>
                </div>
            </div>
        </div>
    </div>
</section>
</html>
