<!DOCTYPE html>
<html>
<section id="skills" class="skills">
    <div class="container">
        <h2 class="section-title">Skills & Technologies</h2>
        <div class="skills-grid">
            <div class="skill-category">
                <h3>Langs</h3>
                <div class="skill-items">
                    <span class="skill-item">C/C++</span>
                    <span class="skill-item">HTML/CSS/JavaScript</span>
                    <span class="skill-item">Java</span>
                    <span class="skill-item">Python</span>
                    <span class="skill-item">x86_64 asm</span>
                    <span class="skill-item">VHDL</span>
                </div>
            </div>
            <div class="skill-category">
                <h3>Frameworks/Libs</h3>
                <div class="skill-items">
                    <span class="skill-item">Node/React/Express</span>
                    <span class="skill-item">Spring Boot</span>
                    <span class="skill-item">Pandas/Numpy/Flask/Django</span>
                    <span class="skill-item">PostgreSQL/SQLite/MongoDB</span>
                </div>
            </div>
            <div class="skill-category">
                <h3>Tools & Others</h3>
                <div class="skill-items">
                    <span class="skill-item">Git</span>
                    <span class="skill-item">Docker</span>
                    <span class="skill-item">AWS</span>
                    <span class="skill-item">Linux/BSD/MacOS/Windows</span>
                </div>
            </div>
        </div>
        <div class="btn-centered-container">
            <a href="skills.html" class="btn btn-secondary btn-centered">Read More</a>
        </div>
    </div>
</section>
</html>
