.about {
}

.about-content {
    max-width: 600px;
    margin: 0 auto;
}

.about-text p {
    margin-bottom: 20px;
    font-size: 12px;
}

.about-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.stat {
    text-align: center;
    margin: 10px;
}

.stat-number {
    display: block;
    font-size: 20px;
    color: #ff0000;
    font-weight: bold;
}

.stat-label {
    font-size: 10px;
    color: #00ffff;
}

