.blog {
    background-color: #111;
}

.blog-nav {
    list-style: none;
    display: grid;
    justify-content: center;
    text-align: center;     
}

.blog-nav-item a {
    font-size: 11px;
    color: #00ff00;
}

.blog-nav-item:hover {
    background-color: #333333;
    cursor: pointer;
}