.education {
    background-color: #111;
}

.education-list-item {
    list-style: none;
}

.education-list-item h1 {
    color: #ffff00;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 5px;
}

.education-list-item h4 {
    color: #00ffff;
    font-size: 12px;
    padding-bottom: 5px;
}

.education-list-item p {
    font-size: 11px;
    margin-bottom: 5px;
}
